<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gym_polyakov">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <service
            android:name=".Gym_service"
            android:enabled="true"
            android:exported="true"/>

        <activity android:name=".Activities_plan.Activity_legs" />
        <activity android:name=".Activities_plan.Activity_torso" />
        <activity android:name=".Activities_plan.Activity_spine" />
        <activity android:name=".Activities_plan.Activity_hands" />
        <activity
            android:name=".BottomNavigationMenu"
            android:label="@string/title_activity_bottom_navigation_menu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".back_act" />
        <activity android:name=".SignUp" />
        <activity
            android:name=".SignIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step5"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step3_1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step4"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step3"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".steps.Step1"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashScreen"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>